:root {
    --white: #fff;
    --light: #D9C5B2;
    --dark: #333533;
    --yellow: #F5CB5C;
    --red: #B33951;
    --green: #91C7B1;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.container {
    border: 6px solid #fff;
    border-radius: 14px;
    font-family: 'Orbitron', monospace;
}

.header {
    color: var(--white);
    background: linear-gradient(var(--light), var(--yellow));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 0 1px var(--dark);
    padding: 60px 60px 10px;
}

.header-info {
    font-size: 22px;
    margin-bottom: 30px;
}

.header-number {
    font-size: 100px;
}

input {
    border-radius: 4px;
    border: none;
    display: none;
    font-family: 'Orbitron', monospace;
    background-color: transparent;
    text-align: center;
    font-size: 100px;
    margin-top: 60px;
}

/* .show-number {
    font-size: 100px;
    margin-top: 60px;

} */

/** show && hide **/
.show-input {
    display: block;
}

.hide-unit {
    display: none;
}

/** show && hide **/

.btn {
    color: var(--dark);
    background: var(--white);
    padding: 6px;
    border: none;
    border-radius: 6px;
}

.btn-light {
    color: var(--dark);
    background: var(--white);
}

.btn-dark {
    color: var(--white);
    background: var(--dark);
}

.btn:focus,
input:focus {
    outline: none;
}

.unit-btn {
    margin: 30px;
}

#switch {
    display: flex;
    align-self: end;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: var(--dark);
    color: var(--white);
    text-align: center;
}

.header-dark {
    color: var(--dark);
    background: linear-gradient(var(--green), var(--white));
}

.main-dark {
    background: var(--red);
    color: var(--white);
}

#p {
    color: var(--red);
}